---
Checks: >
  *,
  -llvm-header-guard,
  -llvmlibc-*,
  -*-braces-around-statements,
  -fuchsia-default-arguments-calls,
  -fuchsia-trailing-return,
  -readability-identifier-length,

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
